@import-normalize;

:root {
  --light-grey: #E8E8E8;
  --violet: #CB38FF;
  --violet-light: #B881FF;
  --violet-dark: #EA1AE1;
  --violet-dark-2: #7350FB;
  --blue-light: #5AC2FC;
  --blue-dark: #0CA7FF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}
