.collection__wrapper {
  @include border-radius;
  overflow: hidden;
  height: 532px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &--bg-image {
    width: 100%;
    height: 100%;
    filter: blur(5px);

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    max-height: 88%;
    width: 84.4%;
    left: 7.7%;
  }

  &_card {
    width: 32%;
    @include border-radius;
    overflow: hidden;
    position: relative;

    & .nft--large img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

}
