.button{
  font-weight: 600;
  font-size: 17.5px;
  line-height: 1.16;
  padding: 13px 23px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.button--cta {
  color: #ffffff;
  background-color: #000000;
  margin-left: 24px;
}

.button--nav {
  position: relative;
  padding-right: 57px;
  opacity: 1;
  background-color: #ffffff;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 180px;
    top: -15px;
    right: 0px;
    bottom: 0;
    left: -20px;
    background-image: linear-gradient(149deg,
            rgba(248, 248, 248, 0.1) 43%,
            rgba(203, 56, 255, 0.4) 63%,
            rgba(184, 129, 255, 0.8) 71%,
            rgb(90, 194, 252) 93%);
    opacity: 0;
    transition: opacity 0.5s linear;
    z-index: -1;
  }
}

.button--nav:hover {
  background-color: rgba(248, 248, 248, 1);
}

.button--nav:hover::before {
  opacity: 1;
}


