.menu {
  display: none;
  position: absolute;
  width: max-content;
  box-shadow: var(--shadow-dark);
  z-index: 150;
  background-color: #ffffff;
  border-radius: var(--border-radius--small);

  &.open {
    display: block;
  }

  &__list {
    list-style: none;

    & li:hover {
      background-color: rgba(248, 248, 248);
      border-radius: var(--border-radius--small);
    }

    & a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: var(--color-text-primary);
      padding: 10px 10px;
    }
  }
}
