.nft{

  &--small{
    position: absolute;
    transition:  top .1s ease-out 100ms;
    //Todo: add some animation for z-index
  }

  &--small:hover {
    top: 0!important;
    z-index: 3;
  }

  &--small img {
    width: 136px;
    @include border-radius;
  }

  &--small:nth-child(1){
    top: calc(var(--border-radius) / 2);
    left: 22px;
  }

  &--small:nth-child(2){
    top: 0;
    left: 30%;
    z-index: 2;

    &:hover {
      //Todo: add animation
    }
  }

  &--small:nth-child(3){
    top: calc(var(--border-radius) / 2);
    right: 22px;
  }
}
