.header {
  margin-bottom: 17px;
}
.container.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 112px;
  padding: 31px 0;
  font-size: 17.5px ;
}

.header__logo {
  height: 42px;
  margin-right: 57px;
}

