:root {
  --color-text-primary: #000000;
  --shadow-dark: 10px 10px 23px 0px rgba(0,0,0,0.25);
  --light-grey: #E8E8E8;
  --light-grey2: #F6F6F6;
  --violet: #CB38FF;
  --violet-light: #B881FF;
  --violet-dark: #EA1AE1;
  --violet-dark-2: #7350FB;
  --blue-light: #5AC2FC;
  --blue-dark: #0CA7FF;

  --border-radius: 15px;
  --border-radius--small: 5px;
}
