.promo-boxes {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 70px;
  margin-bottom: 150px;

  &__box {
    flex: 0 0 360px;
    background-color: #F0F0F0;
    border: 1px solid #E9E9E9;
    @include border-radius;
    min-height: 186px;
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 0;
  }

  &__title {
    font-size: 41px;
    line-height: 1.16;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 19px;
    line-height: 1.6;
    max-width: 220px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1400px) {
  .promo-boxes {
    padding: 0;
  }
}
