.slider {
  overflow: hidden;
  position: relative;

  & .slide-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 700px;

    & .slide {
      flex: 1 0 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 15px;

      &__info {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 30%;
        overflow: hidden;
        background-color: rgb(0 0 0 / 2%);
        backdrop-filter: blur(2px);
        border-radius: 15px;
        z-index: 110;
        max-height: 50%;
      }

      &__title, &__description {
        color: #ffffff;
        mix-blend-mode: difference;
      }

      &__title {
        font-size: 80px;
        line-height: 1.2;
      }

      &__description {
        font-size: 32px;
        line-height: 1.2;
      }

      &__buttons{
        position: absolute;
        left: 10%;
        bottom: 10%;
      }

      & picture{
        width: 100%;
      }

      & picture > img {
        height: 695px;
        width: 100%;
        object-fit: cover;
      }

      & .slide-image {
        display: flex;
        margin: 0 auto;
        max-height: 300px;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  /* DOTS */

  & .dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;

    & .dot {
      background-color: #e7e7e7;
      border-radius: 5px;
      height: 10px;
      margin: 5px;
      width: 10px;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        background-color: #000000;
      }
    }
  }

  /* ARROWS */

  & .arrows {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    height: 695px;
    position: absolute;
    width: 100%;
    z-index: 1;

    & .direction-left, & .direction-right {
      height: 100%;
      width: 45px;
      background-color: #ccc;
      opacity: 0.1;
      transition: all .3s;

      &:hover {
        opacity: 0.5;
      }
    }

    & .direction-left {
      border-radius: 15px 0 0 15px;
    }

    & .direction-right {
      border-radius: 0 15px 15px 0;


    }

    & .arrow {
      height: 30px;
      width: 30px;

      &:hover {
        cursor: pointer;
      }

      &.left, &.right {
        top: 45%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 5px;
      }

      &.left {
        transform: rotate(90deg);
      }

      &.right {
        transform: rotate(-90deg);
        right: 0;
      }
    }
  }
}
